footer{
    background-color: $darkBlue;
    padding: 3%;
    position: relative;

    .footer-content{
        @include grid(40% 20% 10% 10% 20%, 0 );
        grid-template-rows: auto auto;
        align-content: start;
        margin: 4rem;
        margin-bottom: 0;
        padding-top: 6rem;

        .logo-footer{
            grid-row: 1;
            grid-column: 1 / 6;
            display: block;
        }

        article{
            margin-right: 50px;
            padding-top: 10px;

            li{
                display: flex;
                margin-bottom: 1.5rem;
                img{
                    height: fit-content;
                    margin-right: 20px;
                }
            }
        }

        .socialmedia{
            margin-right: 0px;
            text-align: center;
            li{
                display: inline;
                padding: 8px;
                border: 1px solid #fff;
                border-radius: 60%;

                &:hover{
                    border: 1px solid hsl(176, 68%, 64%);
                    cursor: pointer;
                    i{
                        color:hsl(176, 68%, 64%)
                    }
                }
            }
            li:nth-of-type(2){
                margin-right: 7px;
                margin-left: 7px;
            }

            i{
                text-align: center;
                font-size: 14px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

@media(max-width: 376px){
    footer{
        padding: 1%;
        .footer-content{
            @include grid(1fr, 0 );
            grid-template-rows: auto;
            margin: 4rem 0 0 0;
            padding-top: 11rem;

            .logo-footer{
                grid-row: 1;
                grid-column: 1;
            }
            article{
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }
}