header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 100%;

    li{
        display: inline-block;
        padding: 10px !important;
        margin-right: 30px !important;

        &:hover{
            text-decoration: underline;
        }
    }
}

@media(max-width: 376px){
    header{
        .logo-wrapper{
            width: 30%;
            img{
                width: 100%;
            }
        }
        li{
            margin-right: 5px !important;
            padding: 0 !important;
        }
    }
}